# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Data & outputs
*.h5
*.hdf5
*.log
*.xml
*.out
*.json
*.sif
results/
libraries_xs/
figures/
statepoint.*
summary.h5
scheduler-stderr.txt
scheduler-stdout.txt
OLD_*/
sensitivity_results_*/
logs/
submits/
jobout.txt
joberr.txt
settings/core
scripts/quickie.py
scripts/run_reference.py

# Vim
*~
*.sw[po]
.*.un~
